wpcampus-blog {
	display: block;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
}
wpcampus-blog * {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	text-align: inherit;
}
